body{
    background-image: linear-gradient(rgb(31, 81, 255), rgb(188, 19, 254))
}
h1{
    width: 800px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    margin: 30px auto;
}
h2{
    width: 800px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    margin: 30px auto;
}
h3{
    width: 800px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin: 30px auto; 
}
img{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 30%; 
  border-width: 2px;
  border-style: solid;
  border-color: cornflowerblue;
  border-radius: 30px;
}
p{
    width: 800px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 30px auto;  
}
.container{
    display: flex;
    width: 110%;
    height: 400px;
    overflow: auto;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    align-content: center;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container img{
    height: 100%;
    float: right;
    margin: 0 auto;
}
.container p, h2{
    font-size: 100%;
    margin: 0 auto;
}
.text-container, h2{
    height: 100%;
    background-color: aliceblue;
    width: 1000px;
    border-radius: 30px;
    float: left;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: blue;

}
a:hover{
  color: hotpink; /* Color changes to hotpink on hover */
  text-decoration: none; /* Underline is removed on hover */
text-decoration: underline;
}
.h3-container{
    width: 90%;
    height: 100px;
    display: grid;
    object-fit: cover;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    margin: 30px;
    border-style: solid;
    border-width: 0px;
    border-color: black;
}